<article class="summary">
	<small class="time">
		{{ partial "time" . }}
		{{ if and .Lastmod (ne .Lastmod .Date) }}
			<span class="lastmod">Actualitzat el <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ partial "functions/localize-date" (dict "date" .Lastmod "format" site.Params.formats.date.long) }}.</time></span>
		{{ end }}
	</small>
	<header>
		<h2>
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h2>
	</header>
	<p>{{ .Description }}</p>
	<!-- {{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }} -->

	<!-- {{ .Summary }} -->
	<!-- {{ if .Truncated }}
		<a href="{{ .Permalink }}">Read more...</a>
	{{ end }} -->
</article>
